/* reset  link:"http://nec.netease.com/framework/css-reset.html" */

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
	margin: 0;
	padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption,
th {
	text-align: left;
	font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
	border: 0;
}
i,
cite,
em,
var,
address,
dfn {
	font-style: normal;
}
[hidefocus],
summary {
	outline: 0;
}
li {
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
	font-size: 100%;
}
sup,
sub {
	font-size: 83%;
}
pre,
code,
kbd,
samp {
	font-family: inherit;
}
q:before,
q:after {
	content: none;
}
textarea {
	overflow: auto;
	resize: none;
}
label,
summary {
	cursor: default;
}
a,
button {
	cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
	font-weight: bold;
}
em,
strong,
b {
	font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
	text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
	font: 32px/2 "microsoft yahei" arial, \5b8b\4f53;
	color: #333;
	outline: 0;
}
body {
	background: #fff;
}
a,
a:hover {
	color: #333;
}
/* 图片缩放处理 */

img {
	width: 100%;
	max-width: 100%;
}
html,
body {
	width: 100%;
	height: 100%;
}
/* reset */
/* 添加部分功能性类 */
.f-cb:after,.f-cb:before{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb{zoom:1;}
.f-ln{
	display:-webkit-box !important;
	overflow:hidden;
	text-overflow:ellipsis;
	word-break: break-all;
	-webkit-box-orient:vertical;
	/*-webkit-line-clamp: num;  add */  

}
/*  function end */ 
#box,
.wrap {
	width: 100%;
	height: 100%;
}
.wrap {
	position: relative;
}
#p_01 {
	background-image: -webkit-radial-gradient(circle at 50% 37.6%, #ff7a64, #ed5b44);
	background-image: radial-gradient(circle at 50% 37.6%, #ff7a64, #ed5b44);
}
#p_01 .header {
	position: absolute;
	top: 4.9%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 92.2%;
}
#p_01 .img_l {
	position: absolute;
	top: 57.7%;
	left: 9.2%;
	width: 23.4%;
	z-index: 2;
}
#p_01 .img_r {
	position: absolute;
	top: 56.3%;
	right: 2.5%;
	width: 31.8%;
	z-index: 2;
}
#p_01 .img_m {
	position: absolute;
	width: 41.4%;
	top: 64.1%;
	left: 29.2%;
	z-index: 3;
}
#p_01 .footer {
	position: absolute;
	bottom: -19px;   /* 否则无法将其至于底端  */
	width: 100%;
}
/* 第二页*/

#p_02 {
	background-color: #FF8C3E;
}
#p_02 .header {
	position: absolute;
	top: 15.2%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 87.8%;
	z-index: 3;
}
#p_02 .bgc {
	background-image: -webkit-radial-gradient(circle closest-side at 50% 50%, #ffa060, #ff8c3e);
	background-image: radial-gradient(circle closest-side at 50% 50%, #ffa060, #ff8c3e);
}
#p_02 .box_t {
	position: absolute;
	top: 14.3%;
	left: 17.8%;
	width: 64.5%;
	height: 31.1%;
}
#p_02 .box_t .img {
	position: absolute;
	top: 36.5%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 36.4%;
}
#p_02 .box_t .img-t {
	position: absolute;
	top: 79.3%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 64.3%;
	z-index: 3;
}
#p_02 .box_m {
	position: absolute;
	top: 45.3%;
	left: 17.8%;
	width: 64.5%;
	height: 26.1%;
}
#p_02 .box_m .img {
	position: absolute;
	top: 5.4%;
	left: 50%;
	transform: translate(-50%, 0);
	width: 51%;
}
#p_02 .box_m .img-t {
	position: absolute;
	top: 73.5%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
	width: 71%;
}
#p_02 .box_b {
	position: absolute;
	top: 71.3%;
	left: 17.8%;
	width: 64.5%;
	height: 28.7%;
}
#p_02 .box_b .img {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 37.7%;
}
#p_02 .box_b .img-t {
	position: absolute;
	top: 56.4%;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
}
#p_03 {
	background: url(../img/p3-bg-2.png) center center/cover no-repeat #ffdb5d;
	background-size: contain;
	font-family: "microsoft yahei";
	/*font-size: 2em;*/
}
#p_03 .img {
	position: absolute;
	top: 77.7%;
	left: 41.6%;
	width: 36%;
}
#p_04 {
	background-color: #8ad160;
}
#p_04 .header{
	margin:13.8% auto 0;width: 74.4%;height: 33.2%;
}
#p_04 .box{position: relative; margin: 0 7%;}
#p_04 .info{margin-bottom: 0.75rem;}
#p_04 .icon{
	width: 3.3rem;height: 3.3rem;
	float: left;
	border: 2px solid  #42980e;
	-webkit-border-radius: 50%;
	border-radius:50%; 
}
#p_04 .box .name{font-size: /*0.938rem*/ 15px;line-height: 3.3rem;color: #fff;}
#p_04 .box .dec{
	font-size: /*0.75rem*/12px;line-height: /*1.5rem*/24px;color: #245a05;
	padding-bottom: 2px;margin-bottom: 9px;
}
#p_04 .text{-webkit-line-clamp:3; height: 72px;}
#p_04 .botton{position: absolute;width:85px;height: 27px;bottom:0;right:0;background-image: url(../img/p4-bot.png);background-size: contain;}
#p_04 .botton p{color: #092235; padding-left: 17px;}
#p_05 {
	background: url(../img/p5-bg.png) center 8%/contain no-repeat #589eec;
}
#p_05 .header{height: 38.3%;}
#p_05 .main{box-sizing: border-box; position: relative;height: 61.7%;}
#p_05 .main>div:nth-child(odd){
	border-right: solid 1px #72a6f1;
	padding-left: 5%;
}
#p_05 .main>div:nth-child(even){
	padding-right:5%;
}
#p_05 .box{box-sizing: border-box; position: relative; float: left; width: 50%; height: 50%;
			border-top: solid 1px #72a6f1;
}

#p_05 .box .img{height: 31.6%;margin: 12px auto 0;text-align: center;}
#p_05 .img img{height: 100%; width: auto;}
#p_05 .box .tit{font-size: 15px; color: #fcff00;text-align: center;}
#p_05 .box .text{padding: 0 12px;font:12px/17px "microsoft yahei";color:#fff;height:70px;
    overflow-wrap:break-word;
    overflow: hidden;
    text-overflow:clip;
    }
